body{
    max-width: 1024px;
    font-family: Monospace, sans-serif;
    background-color: seashell;
    margin: auto;
}
.portrait {
    float: left;
    margin: 10px 60px 10px 10px;
}
.skills ul {
    color: sienna;
    display: flex;
    justify-content: space-between;
}
.skills h2 {
    text-align: center;
}
